
* {
    box-sizing: border-box;
    font-family: "Ubuntu", system-ui;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    gap: 0.5rem;
}

.element {
    background-color: white;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}